$default_font: "Asap", sans-serif

$white: #ffffff
$black: #000000
$blue: #0084B4
$black_light: rgba(0, 0, 0, .1)
$silver_dark: #4D4D4D
$silver_light: #717171
$bg_color: #f6f6f6
$board_color: #FAFAFA
$board_line: #ECECEC
$board_skill: #212121
$text_color: rgba(33, 33, 33, 0.6)
$transition: all 0.2s linear
$box_shadow: 0px 18px 28px 2px $black_light