.m__btn
    display: flex
    justify-content: center
    align-items: center
    width: 160px
    height: 50px
    transition: $transition
    a
        color: $silver_dark
        font-weight: bold
        transition: $transition

.m__btn_bg
    background: $white
    box-shadow: $box_shadow
    transition: $transition
    &:hover
        background: $silver_dark
        box-shadow: none
        a
            color: $white
  	
.m__btn_border
    border: 1px solid $silver_dark
    box-shadow: $box_shadow
    &:hover
        background: $silver_dark
        box-shadow: none
        a
            color: $white

.btn__arrow
    display: flex
    justify-content: center
    align-items: center
    width: 45px
    height: 41px
    background: $white
    box-shadow: $box_shadow
    transition: $transition
    &:hover
        background: $silver_dark
        box-shadow: none
        svg
            polyline
                stroke: $white    

           