::placeholder
	color: #717171
	font-size: 16px

	html
		scroll-behavior: smooth

body
  font-family: $default_font

.container
    max-width: 1240px
    padding: 0 15px
    margin: 0 auto
		
img
  max-width: 100%

h2
	font-size: 46px
	font-weight: bold
	color: $silver_light
	letter-spacing: 4.5px
	text-align: center
	margin: 0 auto
	text-transform: uppercase
	position: relative	
	margin-bottom: 60px
	&:before
		content: ''
		display: block
		width: 60px
		height: 4px
		background: $silver_dark
		position: absolute
		top: -19px
		left: 50%
		transform: translateX(-50%)
			
section
	padding: 120px 0