.services
	display: block
	background: $bg_color
	h2
		width: 18%	

.services__icon
    display: flex
    justify-content: center
    flex-wrap: wrap
.services__icon_list
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	width: calc(33.3% - 10px)
	margin-top: 20px
	span
		font-size: 24px
		text-align: center
		color: $silver_light
		margin-top: 16px


    
			