.services
	display: block
	background: $bg_color
	h2
		width: 18%	

.services__icon
    display: flex
    justify-content: center
    flex-wrap: wrap
.services__icon_list
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	width: calc(33.3% - 10px)
	margin-top: 20px
	span
		font-size: 24px
		text-align: center
		color: $silver_light
		margin-top: 16px
	&:nth-child(2)
		animation-delay: 0.2s
	&:nth-child(3)
		animation-delay: 0.4s
	&:nth-child(4)
		animation-delay: 0.6s
	&:nth-child(5)
		animation-delay: 0.8s
	&:nth-child(6)
		animation-delay: 1s


    
			