
.skills__wrap
	width: 100%
	
.skill__board
	display: block
	width: 80%
	margin: 0 auto
	background: $board_color
	position: relative
	.bg__wave
		position: absolute
		bottom: 0
		width: 100%
	
.board__persent
	display: flex
	flex-direction: column
	span
		display: block
		width: 100%
		height: 2px
		background: $board_line
		margin-bottom: 60px
		position: relative
		&:before
			content: '100%'
			color: $silver_dark
			font-size: 16px
			position: absolute
			top: -7px
			left: -45px
		&:nth-child(2)
			&:before
				content: '90%'
		&:nth-child(3)
			&:before
				content: '80%'
		&:nth-child(4)
			&:before
				content: '70%'
		&:nth-child(5)
			&:before
				content: '60%'
		&:nth-child(6)
			&:before
				content: '50%'

.board__wave
	display: block
	width: 100%
	height: 100%
	position: absolute
	top: 35px
	left: 0px
	z-index: 10
	&-list
		display: block
		width: 12px
		height: 12px
		background: $board_skill
		border-radius: 50%
		position: absolute
		transition: all .5s linear
		span
			display: block
			width: 100%
			height: 100%
			background: transparent
			border: 1px solid $blue_dark
			border-radius: 100%
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			animation: animSpan 6s linear infinite
			z-index: 10
			&:nth-child(1)
				animation-delay: 0s
			&:nth-child(2)
				animation-delay: -2s
			&:nth-child(3)
				animation-delay: -4s

		&:nth-child(1)
			top: 21%
			left: 10%
		&:nth-child(2)
			top: 38%
			left: 33%
		&:nth-child(3)
			top: -2%
			right: 41.5%
		&:nth-child(4)
			top: 22%
			right: 20%
.board__logo
	span
		position: absolute
		&:nth-child(1)
			bottom: -30px
			left: 9%
		&:nth-child(2)
			bottom: -30px
			left: 32%
		&:nth-child(3)
			bottom: -30px
			right: 40%
		&:nth-child(4)
			bottom: -30px
			right: 18%



@keyframes animSpan
	0%
		width: 12px
		height: 12px
		opacity: 1
	100%
		width: 60px
		height: 60px
		opacity: 0
